<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myandroiddemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myandroiddemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.Newsstand"
            android:label="Animation/Newsstand[fail]"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.Newsstand2"
            android:label="Animation/Newsstand2[fail]"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.Newsstand3"
            android:label="Animation/Newsstand3"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".andrepeater.AndRepeater"
            android:label="Repeater/AndRepeater" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawable.ActionBarColorTest"
            android:label="Test/ActionBarColorTest[fail]"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawable.ActionBarColorTest2"
            android:label="Test/ActionBarColorTest2" 
            android:theme="@style/CustomActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengl.Gallery3dActivity"
            android:label="OpenGL/Gallery3d">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".provider.ContactsActivity"
            android:label="Provider/Contacts">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.TabHostTest"
            android:label="Widget/TabHost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="my.android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>